/* Project Name: YourQuotes-App
Date: 07-08-2022
Developer: Danish Kamal */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;1,300;1,400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.body {
  background-color: rgb(248, 248, 248);
  /* background-image: url("../src/assets/images/background.jpg"); */
  /* background:linear-gradient(rgba(6, 6, 6, 0.243), rgba(255, 255, 0, 0)), url("../src/assets/images/background.jpg"); */
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png"), linear-gradient(to right top, #cf4af3, #e73bd7, #f631bc, #fd31a2, #ff3a8b, #ff4b78, #ff5e68, #ff705c, #ff8c51, #ffaa49, #ffc848, #ffe652);
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  background-position: center;
  background-attachment: fixed;

}

.body-dark {
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png"), linear-gradient(to right top, #000000, #000000, #000000, #000000, #000000, #000000, #000000, #000000, #000000, #000000, #000000, #000000);
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  background-position: center;
  background-attachment: fixed;
}

.container {
  /* max-width: 960px; */
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  min-height: 100vh;
}

.add-note-btn {
  background-color: tomato;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 2rem;
  border: none;
  color: white;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.cards-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding-bottom: 1rem;
}

.card {
  background: linear-gradient(40deg, rgb(101, 48, 146) -200%, rgb(232, 230, 64) 150%);
  border-radius: 10px;
  border-bottom: 5px solid rgb(255 255 255 / 25%);
  padding: 1rem;
  min-height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.card span {
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
  word-break: break-word;
}

.card .text {
  margin: 0 auto;
}

.text span {
  margin: 0 5px;
  text-transform: capitalize;
}

.card.new {
  background: #67e4d8;
  border: none;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  box-shadow: 0 0 5px 1px #736a6ab5;
  z-index: 1;
}

.popup-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: rgb(56, 56, 56);
  text-align: center;
}

.add-overlay {
  opacity: 0.5;
}

textarea {
  background: #67e4d8;
  border: none;
  resize: none;
  border: 1px solid #35c8bab8;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 0.3rem;
}

textarea:focus {
  outline: none;
}

.card.new input {
  outline: none;
  background: #67e4d8;
  border: none;
  border: 1px solid #35c8bab8;
  border-radius: 6px;
  padding: 4px;
}

.footer .save {
  color: #fff;
  border: none;
  padding: 0 15px;
  border-radius: 10px;
  background-color: #000000;
  outline: none;
}

.footer .save:hover {
  cursor: pointer;
  background-color: #141414e8;
}

.footer-writer span {
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  display: flex;
  justify-content: end;
  text-transform: capitalize;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #ffffff47;
  padding: 0 5px;
  border-radius: 5px;
  border: 1px solid #ffffff1f;
  margin-top: 1em;
}

.card.new .footer {
  background: none;
  border: none;
}

.footer small {
  font-size: 12px;
  font-weight: 500;
}

.footer .fa-calendar-day:before {
  font-size: 14px;
  color: black;
  margin-right: 5px;
}

.footer .fa-trash:before {
  font-size: 14px;
  color: #fb0000;
  cursor: pointer;
}

.footer .fa-copy:before {
  content: "\f0c5";
  font-size: 14px;
  color: #000000;
  cursor: pointer;
  margin-right: 10px;
}

.footer .fa-share:before {
  content: "\f064";
  margin-right: 10px;
  color: #000000;
  cursor: pointer;
  font-size: 15px;
}

.footer .fa-download:before {
  margin-right: 10px;
  color: #000000;
  cursor: pointer;
  font-size: 15px;
}

.footer .fa-volume-up:before {
  margin-right: 10px;
  color: #000000;
  cursor: pointer;
  font-size: 15px;
}

.search {
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border: solid 2px #ffffff66;
  border-radius: 9px;
  padding: 5px 10px;
  gap: 0.4rem;
  width: 60%;
  transition: colors 0.3s ease, width 0.6s ease;
}

.search:focus-within {
  border: solid 2px #ffffff;
  caret-color: #ffffff;
  width: 75%;
}

.search input {
  border: none;
  background-color: white;
  width: 100%;
}

.search input::placeholder {
  color: #202020e4;
  transition: all 0.3s ease;
}

.search input:focus::placeholder {
  color: #000000;
}

.search input:focus {
  outline: none;
}

/* Style for header  */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-image: linear-gradient(139deg, #ff4b01, #ee7703, #ff4b01, #ee7703);
  margin-bottom: 1em;
  padding: 9px 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  overflow: hidden;
}

.header-dark {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(139deg, #000a1f, #000000, #060025, #0b0d1f);
  margin-bottom: 1em;
  padding: 9px 15px;
  box-shadow: rgba(202, 197, 197, 0.24) 0px 0px 8px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  overflow: hidden;
}

.header>.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-dark>.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header h1 {
  font-size: 25px;
}

.header-dark h1 {
  font-size: 25px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: #2196f3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* start style for dark mode  */
/* .dark-mode {
  background-color: #000000;
} */

.dark-mode h1 {
  color: #fff;
}

.dark-mode h3 {
  color: #fff;
}

/* end style for dark mode  */

.header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  width: auto;
}

.header-right {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: flex-end;
  width: 40%;
}

.sm-show {
  display: none;
}

/* Start style for responsive  */
@media screen and (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 0;
  }

  .header-dark {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 0;
  }

  .header>.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .header-dark>.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .search {
    width: 80%;
  }

  .search:focus-within {
    width: 100%;
  }

  .sm-hide {
    display: none;
  }

  .sm-show {
    display: flex;
  }
}

/* End style for responsive  */

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  border-radius: 1px;
  -webkit-box-shadow: inset 12px 0 16px #f36b03;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: initial 0 0 6px #8e8e8e;
  border-radius: 1px;
}