@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,100;1,200;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: rgb(38, 36, 36);
}

.container {
  /* max-width: 960px; */
  width: 100%;
  margin: 0 auto;
  padding: 15px;
}

.cards-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
  background-color: #fef68a;
  border-radius: 10px;
  padding: 1rem;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #fff021f0;
}

.card span {
  font-size: 15px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffe25e;
  padding: 2px 5px;
  border-radius: 5px;
  border: 1px solid #ffd100d1;
}

.footer .fa-calendar-day:before {
  font-size: 15px;
  color: black;
  margin-right: 5px;
}

.footer .fa-trash:before {
  font-size: 15px;
  color: #fb0000;
  cursor: pointer;
}

.footer .fa-copy:before {
  content: "\f0c5";
  font-size: 15px;
  color: #515a39;
  cursor: pointer;
  margin-right: 10px;
}