/* Project Name: Notepad
Date: 07-08-2022
Developer: Danish Kamal */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;1,300;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: rgb(248, 248, 248);
}

.container {
  /* max-width: 960px; */
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  min-height: 100vh;
}

.cards-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding-bottom: 1rem;
}

.card {
  background-color: #8afed6;
  border-radius: 10px;
  padding: 1rem;
  min-height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.card span {
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
  word-break: break-word;
}


.card .text {
  margin: 0 auto;
}
.text span {
  margin: 0 5px;
  text-transform: capitalize;
}

.card.new {
  background: #67e4d8;
  border: none;
}

textarea {
  background: #67e4d8;
  border: none;
  resize: none;

  border: 1px solid #35c8bab8;
  border-radius: 8px;
  padding: 5px;
}

textarea:focus {
  outline: none;
}

.card.new input {
  outline: none;
  background: #67e4d8;
  border: none;
  border: 1px solid #35c8bab8;
  border-radius: 6px;
  padding: 4px;
}

.footer .save {
  border: none;
  padding: 0 8px;
  border-radius: 10px;
  background-color: #e1e1e1;
  outline: none;
}

.footer .save:hover {
  cursor: pointer;
  background-color: #ded4d4e8;
}

.footer-writer span {
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  display: flex;
  justify-content: end;
  text-transform: capitalize;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #ffffff47;
  padding: 0 5px;
  border-radius: 5px;
  border: 1px solid #ffffff1f;
  margin-top: 1em;
}

.card.new .footer {
  background: none;
  border: none;
}

.footer small {
  font-size: 12px;
  font-weight: 500;
}

.footer .fa-calendar-day:before {
  font-size: 14px;
  color: black;
  margin-right: 5px;
}

.footer .fa-trash:before {
  font-size: 14px;
  color: #fb0000;
  cursor: pointer;
}

.footer .fa-copy:before {
  content: "\f0c5";
  font-size: 14px;
  color: #000000;
  cursor: pointer;
  margin-right: 10px;
}

.footer .fa-share:before {
  content: "\f064";
  margin-right: 10px;
  color: #000000;
  cursor: pointer;
  font-size: 15px;
}

.footer .fa-download:before {
  margin-right: 10px;
  color: #000000;
  cursor: pointer;
  font-size: 15px;
}

.footer .fa-volume-up:before {
  margin-right: 10px;
  color: #000000;
  cursor: pointer;
  font-size: 15px;
}

.search {
  display: flex;
  align-items: center;
  background: rgb(233 233 233);
  box-shadow: rgb(0 0 0 / 24%) 0px 1px 4px;
  border-radius: 9px;
  padding: 5px 10px;
  margin-bottom: 1em;
}

.search input {
  border: none;
  background-color: rgb(233 233 233);
  margin-left: 8px;
  width: 100%;
}

.search input:focus {
  outline: none;
}

/* Style for header  */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(139deg, #ff4b01, #ee7703, #ff4b01, #ee7703);
  margin-bottom: 1em;
  padding: 9px 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: sticky;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.header h1 {
  font-size: 25px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}


/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* style for dark mode  */
.dark-mode {
  background-color: #000000;
}

.dark-mode h1 {
  color: #fff;
}